{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true,
                "proprocess": false,
                "diplayName": true
            }
        ]
    ]
}